# Kafka
bootstrap.servers={put your values}
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username={put your values}
sasl.password={put your values}
# Confluent Cloud Schema Registry
schema.registry.url=https://{{ SR_ENDPOINT }}
basic.auth.credentials.source=USER_INFO
schema.registry.basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}
