# Kafka
bootstrap.servers=pkc-4yyd6.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=WYEH3VW4CS6YLUV2
sasl.password=DHToKHeXKErZHOlSLLhJu7pwavLqEPjXfz0JN2Dh7TxjR7h6CfBmTTC5+t4zphFN
# Confluent Cloud Schema Registry
schema.registry.url=https://{{ SR_ENDPOINT }}
basic.auth.credentials.source=USER_INFO
schema.registry.basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}